{% extends "base.html" %}

{% block title %} My Writings {% endblock %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Update Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{% for writing in writings %}
    <tr>
        <th scope="row">{{writing.id}}</th>
        <td><a href="{% url 'detail' slug=writing.slug %}">{{writing.title}}</a></td>
        <td>{{writing.update_date}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'update-writing' slug=writing.slug %}">Update</a>
          <a class="btn btn-danger" href="{% url 'delete-writing' slug=writing.slug %}">Delete Writing</a></td>
        </tr>
{% empty %}
    <div class="alert alert-primary" role="alert">
        No writings found!
    </div>
{% endfor %}
</tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if writings.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First Page</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{writings.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %}

    <li class="page-item"><a class="page-link" href="#">{{writings.number}}</a></li>

    {% if writings.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{writings.next_page_number}}">{{writings.next_page_number}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{writings.paginator.num_pages}}">Last Page</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
    {% endif %}

  </ul>
</nav>
{% endblock %}