<div class="card mb-3">
    <div class="card-header">
      Menu
    </div>
    {% if request.user.is_authenticated %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'edit-profile' %}">Edit Profile</a></li>
        <li class="list-group-item"><a href="{% url 'change-password' %}">Change Password</a></li></li>
        <li class="list-group-item"><a href="{% url 'add-writing' %}">Add Writing</a></li>
        <li class="list-group-item"><a href="{% url 'my_writings' %}">My Writings</a></li>
        <li class="list-group-item"><a href="{% url 'logout' %}">Log out</a></li>
      </ul>
    {% else %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'register' %}">Register</a></li>
    </ul>
    {% endif %}

    
  </div>