<div class="card mb-3">
    <div class="card-header">
      Menu
    </div>
    {% if request.user.is_authenticated %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Edit Profile</li>
        <li class="list-group-item">Change Password</li>
        <li class="list-group-item"><a href="{% url 'add-writing' %}">Add Writing</a></li>
        <li class="list-group-item"><a href="{% url 'my_writings' %}">My Writings</a></li>
        <li class="list-group-item">Exit</li>
      </ul>
    {% else %}
        Login form will be here.
    {% endif %}

    
  </div>